HELP.md
.gradle
build/
.class
bin/main/nl/hodc/rdwsync/RdwsyncApplication.class
bin/main/nl/hodc/rdwsync/IndexPost.class
bin/main/nl/hodc/rdwsync/IndexDelete.class
bin/main/nl/hodc/rdwsync/AppProperties.class
bin/main/nl/hodc/rdwsync/ZoektermPost.class
bin/main/nl/hodc/rdwsync/ListCreator.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

